{% extends "base_interface.html" %}
{% load i18n cache %}

{% block middle %}
    {% cache 600 notifications request.user.username %}
        <div class="notifications mt-3">
            {% for notification in notifications %}
                <div class="card mt-3">
                    <div class="card-body {% if not notification.read %}red lighten-4{% else %}white{% endif %}">
                        {% if notification.notification_type == "Shoutout" %}
                            <a href="{% url 'feed:user_timeline' notification.video.user.username %}">
                                {% trans "Go to" %}
                            </a>
                        {% elif notification.notification_type == "Message" %}
                            <p class="font-weight-bold">
                                @{{ notification.comment.user.username }}
                            </p>
                            <p>{{ notificaton.comment.text }}</p>
                        {% else %}
                            {{ notification.notification_type }}                    
                        {% endif %}

                        <div class="row">
                            <div class="col-12">
                                
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>        
    {% endcache %}
{% endblock %}
