{% extends "base_interface.html" %}
{% load static i18n humanize cache waypoints %}

{% block title %}{% trans "Feed" %}{% endblock %}


{% block middle %}   
    <!-- Videos -->
    <div class="videos">
        {% for video in videos %}
            {% include "includes/cards/video/card.html" %}
        {% endfor %}

        <!-- Modal -->
        {% include "includes/modals/comments.html" %}
    </div>
{% endblock %}

{% block extra_scripts %}
    {{ block.super }}

    {% comment %}
        <script>
            var infinite = new Waypoint.Infinite({
                element: $(".infinite-container")[0],
                onBeforePageLoad: function () {
                    $(".loading").show();
                },
                onAfterPageLoad: function ($items) {
                    $(".loading").hide();
                }
            });
        </script>
    {% endcomment %}
{% endblock %}

{% block vuejs_scripts %}
    <!-- Comments -->
    {% include "vue/components/comments.html" %}
    {{ block.super }}
{% endblock %}
