<script>
    Vue.component("button-component", {
        props: ["clicked", "name", "extra_class"],
        delimiters: ["[[", "]]"],
        template: `
        <button @click="returnstate()" class="btn" :class="extra_class">
            <div v-if="clicked" class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span v-else>[[ name ]]</span>
        </button>
        `,
        methods: {
            returnstate: function () {
                this.$emit("returnstate")
            }
        }
    })
</script>

<script>
    var mixins = {
        methods: {
            buildurl: function (state, data) {
                if (state === "follow") {
                    return "/feed/u/" + data + "/follow"
                }

                if (state === "unfollow") {
                    return "/feed/u/" + data + "/unfollow"
                }
            },
            follow: function (state, data) {
                var self = this
                // console.log(state, data)
                // var baseurl = "/feed/u/{{ user_feed.username }}/follow"

                // if (method === "unfollow") {
                //     baseurl = "/feed/u/{{ user_feed.username }}/unfollow"
                // }

                var url = self.buildurl(state, data)
                // console.log(url)
                self.$data.clicked = true
                fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin"
                }).then((response) => {
                    response.json().then((response) => {
                        console.log(response)
                    })
                    setTimeout(() => {
                        self.$data.clicked = false
                    }, 1000);
                    self.$emit("follow", "unfollow", self.$props.data)
                }).catch((e) => {
                    setTimeout(() => {
                        self.$data.clicked = false
                    }, 1000);
                    console.log(e)
                })
            }
        }
    }

    var followbutton = {
        props: ["data"],
        name: "Follow",
        delimiters: ["[[", "]]"],
        mixins: [mixins],
        template: `
        <button-component @returnstate="domethod" 
            :extra_class="'btn-sm btn-outline-danger'" 
                :clicked="clicked" :name="'Follow'" />
        `,
        data() {
            return {
                clicked: false
            }
        },
        methods: {
            domethod: function () {
                this.follow("follow", this.$props.data)
            }
        }
    }

    var unfollowbutton = {
        props: ["data"],
        name: "Unfollow",
        delimiters: ["[[", "]]"],
        mixins: [mixins],
        template: `
        <button-component @returnstate="domethod" 
            :extra_class="'btn-sm btn-outline-danger'" 
                :clicked="clicked" :name="'Unfollow'" />
        `,
        data() {
            return {
                clicked: false
            }
        },
        methods: {
            domethod: function () {
                this.follow("unfollow", this.$props.data)
            }
        }
    }

    var singlefollowbutton = {
        props: ["data", "state"],
        name: "FollowForCards",
        delimiters: ["[[", "]]"],
        mixins: [mixins],
        template: `
        <button-component @returnstate="domethod" 
            :extra_class="'btn-sm btn-outline-danger'" 
                :clicked="clicked" :name="'Follow'" />
        `,
        data() {
            return {
                clicked: false
            }
        },
        methods: {
            domethod: function () {
                // console.log(this.$props.state, this.$props.data)
                this.follow("follow", this.$props.data)
            }
        }

    }

    var singleunfollowbutton = {
        props: ["data", "state"],
        name: "UnfollowForCards",
        delimiters: ["[[", "]]"],
        mixins: [mixins],
        template: `
        <button-component @returnstate="domethod" 
            :extra_class="'btn-sm btn-outline-danger'" 
                :clicked="clicked" :name="'Unfollow'" />
        `,
        data() {
            return {
                clicked: false
            }
        },
        methods: {
            domethod: function () {
                console.log(this.$props.state, this.$props.data)
                this.follow("unfollow", this.$props.data)
            }
        }
    }

    var videocard = {
        props: ["video", "isliked", "likes"],
        name: "VideoCard",
        delimiters: ["[[", "]]"],
        data() {
            return {
                liked: false,
                totallikes: 0
            }
        },
        beforeMount() {
            this.liked = this.$props.isliked === "True" ? true : false
        },
        computed: {
            likeiconstate: function () {
                return {
                    "red-text": this.liked
                }
            }
        },
        methods: {
            togglelike: function (id, el) {
                fetch("{% url 'feed:like' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin",
                    body: JSON.stringify({ 'id': id })
                }).then((response) => {
                    if (response.status === 200) {
                        response.json().then((data) => {
                            console.log(data)
                            this.liked = !this.liked
                            this.totallikes = data.total_likes
                        })
                    } else {
                        window.location.reload()
                    }
                }).catch((error) => {
                    console.log(error)
                })
            }
        }
    }

    var usercards = {
        props: ["users"],
        name: "UserCards",
        delimiters: ["[[", "]]"],
        components: {
            "single-follow-button": singlefollowbutton,
            "single-unfollow-button": singleunfollowbutton
        },
        methods: {
            changesinglestate: function (id, method) {
                this.$emit("changesinglestate", id, method)
            }
        }
    }
</script>
