<script>
    Vue.component("button-component", {
        props: ["clicked", "name", "extra_class"],
        delimiters: ["[[", "]]"],
        template: `
        <button @click="returnstate()" class="btn" :class="extra_class">
            <div v-if="clicked" class="spinner-border spinner-border-sm" role="status">
                <span class="sr-only">Loading...</span>
            </div>
            <span v-else>[[ name ]]</span>
        </button>
        `,
        methods: {
            returnstate: function () {
                this.$emit("returnstate")
            }
        }
    })
</script>

<script>
    Vue.component("video-player", {
        props: ["id", "videosource", "poster"],
        name: "VideoPlayer",
        template: `
        <video width="800" class="vjs-custom-skin video-js" :id="id" data-setup="{}" preload="auto" controls>
            <source :src="videosource" type="video/mp4" />
        </video>
        `,
        data() {
            return {
                videoplayer: null,

                currenttime: undefined,
                duration: undefined,
                remaining: undefined,
                howmuchisdowloaded: undefined
            }
        },
        mounted() {
            var self = this
            var options = {
                responsive: true,
                aspectRatio: "16:9",
                fluid: true,
                liveui: false,
                inactivityTimeout: 2000,
                playbackRates: [0.25, 0.5, 0.75, 1, 1.25, 1.5, 2],
                userActions: {
                    hotkeys: function (event) {
                        // if (event.which === 32) {
                        //     if (this.paused()) {
                        //         this.play()
                        //     } else {
                        //         this.pause()
                        //     }
                        // }

                        // if (event.which === 70) {
                        //     if (this.isFullscreen()) {
                        //         this.isFullscreen(false)
                        //     } else {
                        //         this.isFullscreen(true)
                        //     }
                        // }
                    }
                }
            }

            var player = videojs(self.$props.id, options, function () {

                this.on("play", () => {
                    self.duration = this.duration()
                    // self.remaining = this.remainingTime()
                    self.howmuchisdowloaded = this.bufferedPercent()
                    self.currenttime = this.currentTime()
                })

                this.on("timeupdate", () => {
                    self.remaining = this.remainingTime()
                })

                player.volume(1)
            })

            // var custombutton = videojs.getComponent("Button");
            // var button = new custombutton(player, {
            //     clickHandler: function (event) {
            //         videojs.log('Clicked');
            //     }
            // })
            // var button = player.addChild("button");
            // console.log(button.el());
            player.poster(this.$props.poster)
            self.videoplayer = player
        },
        beforeDestroy() {
            this.videoplayer.on("ended", () => {
                this.videoplayer.dispose()
            })
        }
    })

</script>

<script>
    var mixins = {
        methods: {
            buildurl: function (state, data) {
                if (state === "follow") {
                    return "/feed/u/" + data + "/follow"
                }

                if (state === "unfollow") {
                    return "/feed/u/" + data + "/unfollow"
                }
            },
            follow: function (state, data) {
                var self = this
                // console.log(state, data)
                // var baseurl = "/feed/u/{{ user_feed.username }}/follow"

                // if (method === "unfollow") {
                //     baseurl = "/feed/u/{{ user_feed.username }}/unfollow"
                // }

                var url = self.buildurl(state, data)
                // console.log(url)
                self.$data.clicked = true
                fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin"
                }).then((response) => {
                    response.json().then((response) => {
                        console.log(response)
                    })
                    setTimeout(() => {
                        self.$data.clicked = false
                    }, 1000);
                    self.$emit("follow", "unfollow", self.$props.data)
                }).catch((e) => {
                    setTimeout(() => {
                        self.$data.clicked = false
                    }, 1000);
                    console.log(e)
                })
            }
        }
    }

    var followbutton = {
        props: ["data"],
        name: "Follow",
        delimiters: ["[[", "]]"],
        mixins: [mixins],
        template: `
        <button-component @returnstate="domethod" 
            :extra_class="'btn-sm btn-outline-danger'" 
                :clicked="clicked" :name="'Follow'" />
        `,
        data() {
            return {
                clicked: false
            }
        },
        methods: {
            domethod: function () {
                this.follow("follow", this.$props.data)
            }
        }
    }

    var unfollowbutton = {
        props: ["data"],
        name: "Unfollow",
        delimiters: ["[[", "]]"],
        mixins: [mixins],
        template: `
        <button-component @returnstate="domethod" 
            :extra_class="'btn-sm btn-outline-danger'" 
                :clicked="clicked" :name="'Unfollow'" />
        `,
        data() {
            return {
                clicked: false
            }
        },
        methods: {
            domethod: function () {
                this.follow("unfollow", this.$props.data)
            }
        }
    }

    var singlefollowbutton = {
        props: ["data", "state"],
        name: "FollowForCards",
        delimiters: ["[[", "]]"],
        mixins: [mixins],
        template: `
        <button-component @returnstate="domethod" 
            :extra_class="'btn-sm btn-outline-danger'" 
                :clicked="clicked" :name="'Follow'" />
        `,
        data() {
            return {
                clicked: false
            }
        },
        methods: {
            domethod: function () {
                // console.log(this.$props.state, this.$props.data)
                this.follow("follow", this.$props.data)
            }
        }

    }

    var singleunfollowbutton = {
        props: ["data", "state"],
        name: "UnfollowForCards",
        delimiters: ["[[", "]]"],
        mixins: [mixins],
        template: `
        <button-component @returnstate="domethod" 
            :extra_class="'btn-sm btn-outline-danger'" 
                :clicked="clicked" :name="'Unfollow'" />
        `,
        data() {
            return {
                clicked: false
            }
        },
        methods: {
            domethod: function () {
                console.log(this.$props.state, this.$props.data)
                this.follow("unfollow", this.$props.data)
            }
        }
    }

    var videocard = {
        props: ["video", "reference", "isliked", "likes"],
        name: "VideoCard",
        delimiters: ["[[", "]]"],
        data() {
            return {
                liked: false,
                totallikes: 0,

                currentcomments: []
            }
        },
        beforeMount() {
            this.liked = this.$props.isliked === "True" ? true : false
        },
        computed: {
            likeiconstate: function () {
                return {
                    "red-text": this.liked
                }
            }
        },
        methods: {
            togglelike: function (id, el) {
                fetch("{% url 'feed:like' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin",
                    body: JSON.stringify({ 'id': id })
                }).then((response) => {
                    if (response.status === 200) {
                        response.json().then((data) => {
                            console.log(data)
                            this.liked = !this.liked
                            this.totallikes = data.total_likes
                        })
                    } else {
                        window.location.reload()
                    }
                }).catch((error) => {
                    console.log(error)
                })
            },
            seecomments: function (reference) {
                this.currentreference = reference
                var data = new FormData()
                data.append("reference", reference)

                fetch("{% url 'feed:single_card_comments' %}", {
                    method: "POST",
                    headers: {
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin",
                    body: data
                })
                .then((response) => {
                    response.json().then((data) => {
                        var retrievedcomments = JSON.stringify(data)
                        localStorage.setItem("comments", retrievedcomments)
                        this.currentcomments = data
                        this.$emit("seecomments", reference, data)
                    })
                })
                .catch((error) => {
                    console.log(error)
                })
                // var oldcomments = localStorage.getItem("comments")
                // if (oldcomments === null) {
                // } else {
                //     console.log(oldcomments[reference])
                //     var comments = oldcomments[reference]
                //     this.$emit("seecomments", reference, JSON.parse(comments))
                // }
            }
        }
    }

    var usercards = {
        props: ["users"],
        name: "UserCards",
        delimiters: ["[[", "]]"],
        components: {
            "single-follow-button": singlefollowbutton,
            "single-unfollow-button": singleunfollowbutton
        },
        methods: {
            changesinglestate: function (id, method) {
                this.$emit("changesinglestate", id, method)
            }
        }
    }
</script>
