{% load video_urls %}

<script>
    var feedapp = new Vue({
        el: "#vue_feed_app",
        name: "Feed",
        delimiters: ["[[", "]]"],
        data() {
            return {
                conversations: [],
                user: "{{ request.user.username }}",
                commentingto: undefined,
            }
        },
        methods: {
            addlike: function (id, el) {
                fetch("{% url 'feed:like' %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin",
                    body: JSON.stringify({'id': id})
                }).then((response) => {
                    if (response.status === 200) {
                        response.json().then((e) => {
                            var item = el.querySelector("i[id$='" + id + "']")
                            if (item.classList.contains("red-text")) {
                                item.classList.remove("red-text")
                            } else {
                                item.classList.add("red-text")
                            }
                            
                            var item = el.querySelector("small[id$='" + id + "']")
                            item.textContent = e.total_likes

                            // var items = document.querySelectorAll("i[id^=like]")
                            // var itemid = "like-" + id
                            // items.forEach((item) => { 
                            //     if (item.getAttribute("id") === itemid) { 
                            //         if (item.classList.contains("red-text")) {
                            //             item.classList.remove("red-text")
                            //         } else {
                            //             item.classList.add("red-text") 
                            //         }
                            //     } 
                            // })

                            // var items = document.querySelectorAll("small[id^=likes-count]")
                            // var itemid = "likes-count-" + id
                            // items.forEach((item) => {
                            //     if (item.getAttribute("id") === itemid) {
                            //         item.textContent = e.total_likes
                            //     }
                            // })
                        })
                    } else {
                        window.location.reload()
                    }
                }).catch((error) => {
                    console.log(error)
                })
            },
            newcomment: function (id) {
                var self = this
                fetch("{% url 'feed:comment' %}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin",
                    body: JSON.stringify({ 'id': id, 'text': self.$data.newmessage })
                }).then((response) => {
                    $("#new-comment-modal").modal("toggle")
                }).catch((error) => {
                    console.log(error)
                })
            },
            togglefollow: function (url, username) {
                // console.log(url, username)
                fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin",
                    body: JSON.stringify({ 'username': username })
                }).then((response) => {
                    if (response.status === 200) {
                        window.location.reload()
                        response.json().then((e) => { console.log(e.state) })
                    }
                }).catch((error) => {
                    console.log(error)
                })
            },
            report: function(url, id) {
                fetch(url, {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                        "X-CSRFToken": "{{ csrf_token }}"
                    },
                    credentials: "same-origin",
                    body: JSON.stringify({ 'id': id })
                }).then((response) => {
                    if (response.status === 200) {
                        
                    }
                }).catch((error) => {
                    console.log(error)
                })
            }
        }
    })
</script>
